# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ
*.iml
.idea/
out/

# VS Code
.vscode/

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# JaCoCo
jacoco.exec
/site/

# Others
*.swp
*.swo
